/* Class struggle */

.blocker {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.blocker__instructions {
  padding: 2em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8em;
  cursor: pointer;
}

.a-droite {
  text-align: right;
}

.dedicace {
  margin: var(--line-space) 0 var(--line-space) 20%;
  text-align: right;
}

.datation * {
  font-style: italic;
  text-align: right;
}

.barre,
.crossed-out {
  /* text-decoration: line-through solid var(--color-fg); */
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-color: var(--color-fg);
  text-decoration-thickness: 0.05em;
}

.playing {
  /* text-decoration: line-through solid var(--color-fg); */
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-color: var(--color-fg);
  text-decoration-thickness: 2px;
}

.label {
  display: none;
  touch-action: none;
  user-select: none;
  /* text-shadow: -1px 1px 1px rgb(0,0,0); */
  font-size: 1em;
  margin-left: 15px;
  margin-top: 15px;
}

.data-footnote-backref {
  text-decoration-line: unset;
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1em;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 100;
  color: var(--color-fg);
  background: rgba(0, 0, 0, 0.62);
  /* background: var(--color-bg); */
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  a {
    /* margin: 0; */
    color: var(--color-anim);
    /* text-decoration: unset; */
    /* padding: 0.3em; */
    /* background: linear-gradient(to top, transparent 48%, var(--color-fg) 48%, var(--color-fg) 52%, transparent 52%); */
    /* text-decoration: underline solid var(--color-anim); */
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-color: var(--color-anim);
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
  }

  sup a {
    text-decoration-line: unset;
  }

  .data-footnote-backref {
    text-decoration-line: unset;
  }

  a:hover,
  a:active,
  a:focus {
    color: var(--color-bg);
    background: var(--color-fg);
    text-decoration: unset;
    /* text-decoration: line-through solid var(--color-anim); */
    /* text-decoration-line: underline; */
    /* text-decoration-style: solid; */
    /* text-decoration-color: var(--color-anim); */
    /* text-decoration-thickness: 2px; */
  }

  .title__link {
    background: unset;
    text-decoration: unset;
    font-size: 1.2em;
    /* margin: 25% 0 1em; */
    margin: 1em 1em 0;
    padding: 0;
    font-weight: bold;
    word-break: break-word;
    font-style: normal;
  }
}

@media (min-width: 50em) {
  .menu {
    .title__link {
      font-size: 1.6em;
      max-width: 62%;
    }
  }
}

.menu__content {
  max-width: 66ch;
  width: 95%;
  padding: 2em 0;
}

@media (min-width: 50em) {
  /* 800px */
  .menu__content {
    max-width: 66ch;
    width: 80%;
  }
}

.menu .credits {
  font-size: 0.8em;
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 0; */
  font-style: italic;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em 2em;
  color: var(--color-fg);
}

.instructions {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  color: var(--color-fg);
  display: none;
}

.instructions__mobile {
  display: none;
}

.instructions__desktop {
  display: block;
}

@media (hover: none) and (pointer: coarse) {
  .instructions__mobile {
    display: block;
  }

  .instructions__desktop {
    display: none;
  }
}

.simplebar-content,
.menu.show--menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: text;

  * {
    user-select: text;
  }
}
/* @media (min-width: 50em) { */
/*   /1* 800px *1/ */
/*   .menu.show--menu { */
/*     display: flex; */
/*     flex-direction: column; */
/*     justify-content: space-between; */
/*     align-items: center; */
/*   } */
/*   .menu { */
/*     .title__link { */
/*       font-size: 3em; */
/*       /1* margin: 10% 0 1em; *1/ */
/*       /1* margin: 1em 0 1em; *1/ */
/*       margin: 1em; */
/*     } */
/*   } */
/* } */

/* @media (max-width: 50em) and (min-height: 700px) { */
/*   .menu { */
/*     .title__link { */
/*       margin: 30% 1em 1em; */
/*     } */
/*   } */
/* } */

/* @media (max-width: 60em) and (max-height: 600px) and (orientation: landscape) { */
/*   .menu { */
/*     .title__link { */
/*       font-size: 1.6em; */
/*       margin: 0.2em 1em; */
/*     } */
/*   } */
/* } */

/* @media (min-width: 50em) and (max-height: 600px) and (orientation: landscape) { */
/*   .menu { */
/*     .title__link { */
/*       font-size: 1.6em; */
/*       margin: 1em 1em 1em; */
/*     } */
/*   } */
/* } */

.home {
  /* display: none; */
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: var(--color-bg);
  /* top: 0; */
  /* left: 0; */
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.instructions {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  color: var(--color-fg);
}

.instructions__mobile {
  display: none;
}

.instructions__desktop {
  display: block;
}

@media (hover: none) and (pointer: coarse) {
  .instructions__mobile {
    display: block;
  }

  .instructions__desktop {
    display: none;
  }
}

.btn.none,
.none,
.hidden,
.hide {
  display: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.dashboard {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 200;
  font-size: 1em;
}

@media (min-width: 55em) { /* 1280 px */
  .dashboard {
    font-size: 1em;
  }
}

.dashboard--menu {
  top: 0;
  right: 0;
}

.dashboard--sound {
  bottom: 0;
  left: 0;
}

.button {
  user-select: none;
  border-radius: 0;
  cursor: pointer;
  margin: 0;
  /* padding: 0.3em 0.3em 0.2em; */
  padding: 0;
  text-align: center;
  color: var(--color-fg);
  text-decoration: none;
  /* border: 2px solid var(--color-fg); */
  width: 2em;
  height: 2em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: transform 0.5s ease;
}

.button__svg {
  transition: transform 0.5s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;

  svg {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    fill: var(--color-fg);
  }
}

@media (min-width: 50em) {
  /* 800px */
  .button {
    width: 1.2em;
    height: 1.2em;
  }

  .button__svg {
    padding: 0.2em;
  }
}

.button__svg.none {
  display: none;
}

.button:hover .button__svg,
.button:focus .button__svg,
.button:active .button__svg {
  transform: rotateY(180deg);
  /* color: var(--color-bg); */
  /* text-decoration: none; */
  /* background: var(--color-fg); */
  /* svg { */
  /*   fill: var(--color-bg); */
  /* } */
}

.hide-scrollbar {
  overflow: -moz-hidden-unscrollable;
  overflow: hidden;
}

.hide {
  display: none;
}
/* .cursor { */
/*   position: fixed; */
/*   top: 0; */
/*   left: 0; */
/*   transform: translate(-50%, -50%); */
/*   user-select: none; */
/*   pointer-events: none; */
/*   background: var(--color-fg); */
/*   transition: all 0.4s linear; */
/*   transition-property: background, transform; */
/* } */
/*  */
/* .cursor--main { */
/*   height: 5px; */
/*   width: 5px; */
/*   border-radius: 50%; */
/*   z-index: 10001; */
/*   opacity: 1; */
/* } */
/*  */
/* .cursor--bg { */
/*   height: 20px; */
/*   width: 20px; */
/*   border-radius: 50%; */
/*   z-index: 10000; */
/*   opacity: 0.3; */
/* } */
/*  */
/* .cursor--interact { */
/*   &.cursor--main { */
/*     background: var(--color-bg); */
/*     animation: pulse 2s ease-in-out infinite; */
/*   } */
/*   &.cursor--bg { */
/*     transform: translate(-50%, -50%) scale(2); */
/*   } */
/* } */
/*  */
/* @keyframes pulse { */
/*   0% { */
/*     transform: translate(-50%, -50%) scale(1); */
/*   } */
/*  */
/*   50% { */
/*     transform: translate(-50%, -50%) scale(2); */
/*   } */
/*  */
/*   100% { */
/*     transform: translate(-50%, -50%) scale(1); */
/*   } */
/* } */
/*  */
/* .cursor--click { */
/*   transform: translate(-50%, -50%) scale(2); */
/* } */
/*  */
/* @media (hover: none) and (pointer: coarse) { */
/*   .cursor { */
/*     display: none; */
/*   } */
/* } */

.hide-scrollbar {
  overflow: -moz-hidden-unscrollable;
  overflow: hidden;
}

.interface {
  /* position: fixed; */
  /* top: 0; */
  /* right: 0; */
  display: inline-block;
  /* width: 5em; */
  /* height: 100vh; */
  /* height: calc(var(--vh, 1vh) * 100); */
}

.texts {
  z-index: 10;
  display: none;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* touch-action: none; */
  /* user-select: none; */
  width: 80vw;
  max-width: 1000px;
  max-height: 80vh;
  color: var(--color-fg);
  font-size: 1em;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.62);
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  * {
    touch-action: pan-y;
  }

  button.texts__close {
    z-index: 20;
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0.2em;
    user-select: none;
  }

  p {
    margin: 0;
  }
}

.texts::-webkit-scrollbar {
  display: none;
}

@media (min-width: 50em) {
  /* 800px */
  .texts {
    width: 62vw;
    max-height: 80vh;
  }
}

.text {
  display: none;
  opacity: 0;
  margin: 0 auto;
  padding: 0;
  padding: 1em 2em;
  max-width: 66ch;
}

.footnotes {
  display: none;
  margin: 0 auto;
  padding: 0;
  padding: 1em 2em;
}

.footnotes,
.texts,
.text {
  user-select: none;

  * {
    user-select: none;
  }
}

.footnotes.show,
.texts.show,
.text.show {
  display: block;
  opacity: 1;
  user-select: text;

  * {
    user-select: text;
  }
}

.appear {
  animation: appear 1s ease-in-out;
}

.gras {
  font-weight: bold;
  margin: 0.5em 0;
}

.italique {
  font-style: italic;
  margin: 0.5em 0;
}

.centre {
  text-align: center;
  margin: 0.5em 0;
}

.passage-centre {
  text-align: center;
  margin: 0.5em 2em;
}

.asterisme {
  text-align: center;
  margin: 1.62em 0;
}

.marge-trois {
  margin: 0.5em 2em 0.5em 0;
}

.marge-six {
  margin: 0.5em 4em 0.5em 0;
}

.ligneblanche {
  margin: 1.62em 0;
}

.titre-souligne {
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  margin: 1.62em 0;
}

.u {
  text-decoration: underline;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
/* Scrollbar with simplebar.js */
[data-simplebar] {
  /* position: relative; */
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  max-width: inherit;
  max-height: inherit;
  height: 100%;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content::before,
.simplebar-content::after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar::before {
  position: absolute;
  content: "";
  background: var(--color-anim);
  border-radius: 0;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s 0.5s linear;
}

.simplebar-scrolling .simplebar-scrollbar::before,
.simplebar-hover .simplebar-scrollbar::before,
.simplebar-mouse-entered .simplebar-scrollbar::before {
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0s;
}

.simplebar-scrollbar.simplebar-visible::before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0s;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  /* width: 11px; */
  width: 6px;
}

.simplebar-track.simplebar-horizontal ~ .simplebar-track.simplebar-horizontal,
.simplebar-track.simplebar-vertical ~ .simplebar-track.simplebar-vertical {
  display: none;
}

.simplebar-scrollbar::before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto;
}
/* Rtl support */
[data-simplebar-direction="rtl"] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar !important;
}

.simplebar-dummy-scrollbar-size > div {
  width: 200%;
  height: 200%;
  margin: 10px 0;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.objload {
  z-index: 30;
  display: hidden;
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  height: 2px;
  width: 100%;
  /* transition: all 1s ease-in-out 0.4s; */
  background: var(--color-bg);

  &--anim {
    opacity: 1;
    display: block;
    animation: objload 0.5s ease;
  }

  &--anim-reverse {
    opacity: 1;
    display: block;
    animation: objload 0.5s ease reverse;
  }
}

.objload-vert {
  z-index: 30;
  display: hidden;
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 2px;
  /* transition: all 1s ease-in-out 0.4s; */
  background: var(--color-bg);

  &--anim {
    opacity: 1;
    display: block;
    animation: objloadvert 0.5s ease;
  }

  &--anim-reverse {
    opacity: 1;
    display: block;
    animation: objloadvert 0.5s ease reverse;
  }
}

.loading {
  font-family: 'Crimson', serif;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 1s ease-in-out;
  background: var(--color-bg);
  font-size: 0.85em;
}

@media (min-width: 50em) {
  /* 800px */
  .loading {
    font-size: 1em;
  }
}

.loading p {
  position: absolute;
  font-size: 4em;
  color: var(--color-fg);
  margin: 0;
}

.loading p:nth-child(1) {
  animation: 2s linear infinite loadingFade;
}

.loading p:nth-child(2) {
  animation: 2s linear infinite loadingFadeInvert;
}

.loading .btn--load {
  cursor: pointer;
  /* position: absolute; */
  display: block;
  visibility: hidden;
  opacity: 0;
  font-size: 1.4em;
  margin: 5em auto 0.5em;
  padding: 0.2em 0.5em 0;
  color: var(--color-fg);
  border: 2px solid var(--color-fg);
  background-color: var(--color-bg);
  transition: opacity 0.4s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    color: var(--color-bg);
    border: 1px solid var(--color-fg);
    background-color: var(--color-fg);
  }
}

.loading .avertissement {
  color: var(--color-fg);
  margin-top: auto;
  font-size: 1.4em;
  margin-bottom: 1em;
  text-align: center;
  max-width: 800px;
  width: 80%;
}

.loading--done .btn--load {
  visibility: visible;
  opacity: 1;
}

.loading.loading--done {
  opacity: 0;
  z-index: -1;
}
/* For pace.js */
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 6em;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  width: 200px;
  background: var(--color-bg);
  border: 1px solid var(--color-fg);
  overflow: hidden;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 200px;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: var(--color-fg);
}

.pace--three-loaded .pace {
  display: none;
}

@keyframes loadingFade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loadingFadeInvert {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
