---
import Layout from "../layouts/Layout.astro";
import { Content as ContentIndex } from "../content/meta/index.md";
---

<Layout>
  <canvas class="world"></canvas>
  <div class="blocker instructions__desktop">
    <div class="blocker__instructions">
      <p>[espace]: débuter/pause<br><br>
        [wasd/flèches]: se déplacer<br>
        [entrée]: afficher un texte<br>
        [retour]: masquer le texte<br>
        [souris]: rotation<br><br>
        [menu bas]: musique<br>
        [menu haut]: informations<br>
      </p>
    </div>
  </div>
  <div class="texts">
    <button class="texts__close">[X]</button>
    <ContentIndex />
  </div>
</Layout>
