---
import { Content as ContentMenu } from "../content/meta/menu.md";
import { Content as Credits } from "../content/meta/credits.md";
import { SITE } from "../site-config";
---

<div class="dashboard dashboard--menu">
  <button class="button button--menu">
    <div class="button__svg button__svg--off">
      <svg
        version="1.1"
        viewBox="0 0 1920 1920"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m960 1807.1c-467.12 0-847.06-379.93-847.06-847.06s379.93-847.06 847.06-847.06 847.06 379.93 847.06 847.06-379.93 847.06-847.06 847.06m0-1807.1c-529.36 0-960 430.64-960 960s430.64 960 960 960 960-430.64 960-960-430.64-960-960-960"
        ></path>
      </svg>
    </div>
    <div class="button__svg button__svg--on none">
      <svg
        version="1.1"
        viewBox="0 0 1920 1920"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="960" cy="960" r="960"></circle>
      </svg>
    </div>
  </button>
</div>

<header class="menu">
  <a href={SITE.titlelink} target="_blank" rel="noopener" class="title__link">{SITE.displayTitle}</a>
  <div class="menu__content">
    <ContentMenu />
  </div>
  <div class="credits">
    <Credits />
  </div>
</header>
